
/*
|------------------------------------------------------
|  Harlowe-house
|------------------------------------------------------
*/
.Harlowe-house {
  background-color: #DECEB6;
}
.legacy-gallery {
  padding-top: 150px;
  padding-bottom: 200px;
  background-color: #FDF8F2;
}