.project-intro {
  background-color: transparent;
  padding-right: 2.6vw;
}
.project-intro .num {
  font-family: CircularStd-Book;
  font-size: 36px;
  line-height: 48px;
  color: #413F3C;
  margin: 37px 0 0;
  font-weight: bold;
}
.project-intro .row {
  padding-top: 21px !important;
}
.project-intro p {
  margin: 0 0 40px;
}
.project-intro p:last-child {
  margin-bottom: 0px;
}

/*
|------------------------------------------------------
|  Query Media
|------------------------------------------------------
*/
@media (max-width: 899px) { 
  .project-intro .description {
    margin-top: 80px;
  }
  .linden-house .project-intro p {
    width: 100%;
  }

}
@media (max-width: 599px) {
.linden-house .intro-container{
  padding-top: 80px!important;
  padding-bottom: 80px!important;
}
.project-intro .num {
  font-size: 25px;
  line-height: 33px;
  margin-top: 18px;
}
.location-section {
  margin-right: 6vw;
}
.location-container .project-intro p {
  width: 100%!important;
}
}