/* bnr */
.banner {
  z-index: 1;
  background-color: #FFFFFF;
}
.bg-container {
  position: relative;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  overflow: hidden;
}
.bg-video {
  object-fit: cover;
}
.bg-video[poster] {
  height: 100vh;
  width: 100vw;
}

.bg-video-container::after {
  position: absolute;
  content: "";
  background-color: rgba(0, 0, 0, 0.3);
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  mix-blend-mode: multiply;
}

.banner .wrapper-h1 {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  text-align: center;
}
.banner h1 {
  display: flex;
  flex-direction: column;
  text-align: center;
}
.banner .line {
  height: 50px;
  border: 1px solid #FFFFFF;
  margin: 0;
  position: absolute;
  left: 50%;
  margin-right: -50%;
  bottom: 20px;
}

.btn-project-bnr {
  background-color: #F2C890;
  border: 1px solid #F2C890;
  padding: 13px 72px;
  font-size: 17px;
  line-height: 20px;
  color: #000000;
  margin-top: 30px;
}

.btn-project-bnr.circle {
  position: fixed;
  top: 125px;
  right: 2.6vw;
  z-index: 999;
  width: 110px;
  height: 110px;
  border-radius: 50%;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
/*
|----------------------------------------------------------------
| Query media
|----------------------------------------------------------------
*/
@media (max-width: 899px) {
  .banner .line {
    border: 0.5px solid #FFFFFF;
  }

}