
.linden-house .global-padding {
  padding: 150px 0 0 2.6vw;
}

.bg-video-container::after {
  background-color: rgba(58, 52, 45, 0.5);
}

.linden-house .intro-container {
  background-color: #ffffff;
  padding-top: 100px;
  padding-bottom: 150px;
}
.linden-house .projects-data {
  margin-right: 2.6vw;
}
.linden-house .projects-data .wrapper {
  width: 100%;
}

.linden-house .projects-data .heading {
  margin:24px 0 40px;
}
.linden-house .projects-data .detail {
  font-family: Times-New-Roman;
  font-size: 30px;
  line-height: 34px;
  letter-spacing: -0.5px;
  color: #413F3C;

}

/* location */
.location-container .project-intro .row{
  flex-direction: column;
}
.location-container.global-padding {
  padding-top: 100px;
}
.location-container h2 {
  margin-bottom: 40px;
}
.location-container .project-intro p {
  width: 85%;
}

/* formwerks-architecture */
.formwerks-architecture img {
  margin-top: 87px;
  padding-right: 2.6vw;
}


.linden-house .space .swiper-carousel-project {
  position: relative;
  top: -100px;
}
.linden-house .space.global-padding {
  margin-bottom: -100px;
}
.linden-house .exterior.space {
margin-bottom: 0;
}
.linden-house .space .swiper-carousel-project .swiper-slide {
  width: auto;
}
.linden-house .space .swiper-carousel-project .swiper-slide img {
  height: 550px;
}

/* register */
.linden-house .register-section {
  background-color: #DECEB6;
  padding: 100px 2.6vw;
}
.linden-house .register-section h2{
  margin-bottom: 40px;
}

.linden-house .backto-allprojects {
  text-align: center;
}
.linden-house .backto-allprojects .btn {
  margin: 150px 0;
  padding: 13px 48px;
}



/*
|------------------------------------------------------
|  Query Media
|------------------------------------------------------
*/
@media (max-width: 1700px) { 
.linden-house .projects-data .detail {
  font-size: clamp(0px,1.7vw,30px);
  line-height: clamp(0px,2.2vw,34px);
}
}