
.linden-house .global-padding {
  padding: 150px 0 0 2.6vw;
}

.bg-video-container::after {
  background-color: rgba(58, 52, 45, 0.5);
}

.linden-house .intro-container {
  background-color: #ffffff;
  padding-top: 100px;
  padding-bottom: 150px;
}
.linden-house .projects-data {
  margin-right: 2.6vw;
}
.linden-house .projects-data .wrapper {
  width: 100%;
}

.linden-house .projects-data .heading {
  margin:24px 0 40px;
}
.linden-house .projects-data .detail {
  font-family: Times-New-Roman;
  font-size: 30px;
  line-height: 34px;
  letter-spacing: -0.5px;
  color: #413F3C;

}

/* location */
.location-container .project-intro .row{
  flex-direction: column;
}
.location-container.global-padding {
  padding-top: 100px;
}
.location-container h2 {
  margin-bottom: 40px;
}
.location-container .project-intro p {
  width: 85%;
}

/* formwerks-architecture */
.formwerks-architecture img {
  margin-top: 87px;
  padding-right: 2.6vw;
}


.linden-house .space .swiper-carousel-project {
  position: relative;
  top: -100px;
}
.linden-house .space.global-padding {
  margin-bottom: -100px;
}
.linden-house .exterior.space {
margin-bottom: 0;
}
.linden-house .space .swiper-carousel-project .swiper-slide {
  width: auto;
}
.linden-house .space .swiper-carousel-project .swiper-slide img {
  height: 550px;
}

/* register */
.linden-house .register-section {
  background-color: #DECEB6;
  padding: 100px 2.6vw;
}
.linden-house .register-section h2{
  margin-bottom: 40px;
}

.linden-house .backto-allprojects {
  text-align: center;
}
.linden-house .backto-allprojects .btn {
  margin: 150px 0;
  padding: 13px 48px;
}

/* register form */

.linden-house .form label,
.linden-house .form .wrapper > input,
.linden-house .form .selectPlaceholderText,
.linden-house .radio-wrapper label,
.linden-house .form textarea,
.linden-house .form .registerSelect,
.linden-house .form .registerSelect > div {
  font-size: 20px;
  line-height: 28px;
}
.linden-house .form .agreement {
  font-size: 18px;
  line-height: 26px;

}



/*
|------------------------------------------------------
|  Query Media
|------------------------------------------------------
*/
@media (max-width: 1700px) { 
  .linden-house h2 {
    font-size: clamp(43px, 4vw, 64px);
    line-height: clamp(51px, 4.5vw, 74px);
  }
.linden-house .projects-data .detail {
  font-size: clamp(20px,1.7vw,30px);
  line-height: clamp(22px,2.2vw,34px);
}
.linden-house .location-container h3{
  font-size: 48px;
  line-height: 56px;
}
.linden-house .location-section .location {
  font-size: 19px;
  line-height: 26px;
}
.linden-house .submit-btn {
  font-size: 16px;
  line-height: 15px;
}
}


@media (max-width: 899px) { 
  .linden-house .projects-data .heading {
    margin: 0;
  }
  .linden-house .content-wrapper {
    margin: 20px 0 30px;
  }
  .linden-house .projects-data .container-wrapper {
    width: 100%;
  }
  .linden-house .register-form {
    margin-top: 80px;
  }
}
@media (max-width: 599px) { 
.linden-house h2 {
  font-size: 46px;
  line-height: 53px;
}
.linden-house .global-padding {
  padding-left: 6vw;
  padding-top: 120px;
}
.linden-house .project-intro,
.linden-house .projects-data {
  padding-right: 6vw;
}
.linden-house .projects-data {
  margin-top: 65px;
}
.linden-house .projects-data .detail {
  font-size: 23px;
  line-height: 29px;
}
.linden-house .projects-data .btn {
  padding: 11px 24px;
}
.formwerks-architecture img {
  margin-top: 48px;
  padding-right: 6vw;
}
.linden-house .space .swiper-carousel-project {
  top: -115px;
}
.linden-house .space .swiper-carousel-project .swiper-slide img{
  height: 360px;
}
.linden-house .space .swiper-carousel-project .swiper-slide {
  width: auto!important;
}
.linden-house .space.global-padding {
  padding-top: 80px;
}
.linden-house .space p {
  font-size: 18px;
  line-height: 26px;
  margin-top: 13px;
}
/* register */
.linden-house .register-section {
  padding-top: 80px;
}
.linden-house .form .checkbox-wrapper {
  flex-direction: column;
}
.linden-house .form .checkbox {
  width: 25px !important;
  margin-bottom: 17px;
}
.linden-house .form .agreement {
  margin-left: 0px;
}
.linden-house .form .is-small {
  width: 100%;
}
.linden-house .backto-allprojects .btn {
  margin: 100px 0;
}
}
@media (max-width: 450px) { 
  .linden-house .projects-data .heading {
    font-size: 18.5px;
    line-height: 26px;
  }
  .linden-house .projects-data .detail {
    font-size: 20px;
    line-height: 25px;
  }

}